{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">   
                <h1>Task Detail</h1>

                <h2 class="text-secondary">{{task.title}}</h2>
                <p>{{task.desc}}</p>
                {% if task.date_completed != Null%}
                <p>Completed in: {{task.date_completed}}</p>
                {% endif %}
                
                <div>
                    <form method="POST">
                        {%csrf_token%}
                        {{form.as_p}}
                        <button class="btn btn-dark">Update Task</button>
                    </form>
                    <br><strong>{{error}}</strong>

                    <div style="display: flex; gap: 10px;">
                        <form action="{% url 'task_completed' task.id %}" method="POST">
                            {%csrf_token%}
                            <button class="btn btn-secondary">
                                Completed ! 
                            </button>
                        </form>

                        <form action="{% url 'delete' task.id %}" method="POST">
                            {%csrf_token%}
                            <button class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock %}